<% layout('layouts/boilerplate') %>

<div class="fileconfirmationPage">
    <h3 class="head3">Verify your content</h3>
    <pre>
        <%= result %> 
    </pre>
    <form action="/predict" method="POST" class="container">
        <textarea name="inputField" id="inputField" hidden></textarea>
        <div class="text-center pt-1 mb-5 pb-1">
            <button class="btn  btn-block mb-3 updateBtn" >Submit
              </button>
          </div>
    </form>
</div>